## Problem Statement

As a part of the recruitment process, we ask all candidates to solve an open-ended problem to give us an opportunity to better understand their approach to problem solving, technical skills etc. Please spend up to a week on the following problem. We should also mention that we encourage the candidate to communicate with us throughout the process, giving us updates and asking questions as necessary. 

Healthcare Dataset Challenge: The task is to **analyze the clinical and financial data of patients hospitalized for a certain condition**. It is attached with this email. Some variable names and patient_id's have been anonymized in this dataset. You are required to **join the data given in different tables**, and **find insights about the drivers of cost of care**. Please see attached documents for datasets. 

For this challenge, you will be given 1-1.5 weeks, at the end of which we expect you to **share your code (github repository) and a document/slides describing your approach and results, insights etc**. This position requires **strong communication and visualization skills**. Your **slide design, narrative and content as well your presentation will be judged not only for technical but communication skills as well**. If you have any question, please feel free to contact Abhijit Ghosh (abhijit.ghosh@holmusk.com).


- analyze the clinical and financial data of patients hospitalized for a certain condition
- join the data given in different tables
- find insights about the drivers of cost of care

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import pandas_profiling as pp
# warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
plt.style.use('fivethirtyeight')

In [2]:
df_bill_amount = pd.read_csv('./Healthcare Data Challenge Data/bill_amount.csv')
df_bill_id = pd.read_csv('./Healthcare Data Challenge Data/bill_id.csv')
df_clinical_data = pd.read_csv('./Healthcare Data Challenge Data/clinical_data.csv')
df_demographics = pd.read_csv('./Healthcare Data Challenge Data/demographics.csv')

In [3]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df_demographics)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Joining `df_bill_amount` and `df_bill_id` dataframes into 1 dataframe `df_comb1`
- as there is a common column `bill_id`, we join based on this column
- there are also the same set of unique `bill_id` numbers between the 2 columns, hence we can proceed with joining the 2 dataframes
- there are also no null values in either dataframes

In [4]:
df_comb1 = pd.merge(df_bill_amount, df_bill_id, on='bill_id') 
df_comb1.head()

      bill_id       amount                        patient_id date_of_admission
0    40315104  1552.634830  96a76ec5bbcb1d1562c40b9b972e356d        2012-10-22
1  2660045161  1032.011951  796de06efdad342d3f3a379dff0bd63c        2014-09-28
2  1148334643  6469.605351  1ce104904e9160cf3cfdb3c45b9ce4ff        2014-01-16
3  3818426276   755.965425  afdfe7216d84e13708a19cbca288379a        2013-01-22
4  9833541918   897.347816  b9a0c119dc07e07f88281964f3a4869f        2011-04-22

In [5]:
df_comb1.dtypes
df_comb1['date_of_admission'] = pd.to_datetime(df_comb1['date_of_admission'])
df_comb1 = df_comb1.astype({
    'bill_id':object,
})
df_comb1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13600 entries, 0 to 13599
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bill_id            13600 non-null  object
 1   amount             13600 non-null  float64
 2   patient_id         13600 non-null  object
 3   date_of_admission  13600 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 531.2+ KB

In [6]:
# check for duplicated patient_id
df_comb1 = df_comb1[df_comb1.duplicated(subset=['patient_id'], keep=False)].sort_values(by='patient_id')

In [9]:
df_comb1.head(100)

,bill_id,amount,patient_id,date_of_admission
4760,5175703971,79.496707,00225710a878eff524a1d13be817e8e2,2014-04-10
1358,4692776325,325.319345,00225710a878eff524a1d13be817e8e2,2014-04-10
12021,7746811189,3710.864731,00225710a878eff524a1d13be817e8e2,2014-04-10
1803,8461069832,1074.885913,00225710a878eff524a1d13be817e8e2,2014-04-10
13123,3604841170,416.161130,0029d90eb654699c18001c17efb0f129,2012-11-07
3537,5621737529,4821.368753,0029d90eb654699c18001c17efb0f129,2012-11-07
5603,5041212157,903.249320,0029d90eb654699c18001c17efb0f129,2012-11-07
1591,645202091,16460.718669,0029d90eb654699c18001c17efb0f129,2012-11-07
10029,7549837665,722.207224,0040333abd68527ecb53e1db9073f52e,2013-01-19
6785,9921582850,1880.154553,0040333abd68527ecb53e1db9073f52e,2013-01-19
8018,167943546,640.269335,0040333abd68527ecb53e1db9073f52e,2013-01-19
6553,8199801360,14204.550522,0040333abd68527ecb53e1db9073f52e,2013-01-19
6585,5492890584,4819.283485,00473b58e3dc8ae37b3cb34069705083,2014-02-10
3096,3108812506,676.420105,00473b58e3dc8ae37b3cb34069705083,2014-02-10
5549,2831040803,584.562386,00473b58e3dc8ae37b3cb34069705083,2014-02-10
6612,7239419545,9205.617244,00473b58e3dc8ae37b3cb34069705083,2014-02-10
9639,4580228676,1517.659366,0078662d1d983dde68ea057c42d5b5cf,2012-04-28
4505,7289756776,3488.225150,0078662d1d983dde68ea057c42d5b5cf,2012-04-28
10830,6208929668,13460.623696,0078662d1d983dde68ea057c42d5b5cf,2012-04-28
6022,9476531069,55011.360798,0078662d1d983dde68ea057c42d5b5cf,2012-04-28
6750,9839868745,20648.066701,0088bbd94c90bbc9158e13465441ebb6,2015-11-05
6470,2127692752,2038.170417,0088bbd94c90bbc9158e13465441ebb6,2015-11-05
11723,8244828782,1273.535127,0088bbd94c90bbc9158e13465441ebb6,2015-11-05
6626,3073145832,2091.820013,0088bbd94c90bbc9158e13465441ebb6,2015-11-05
2737,8770011184,16630.731606,0092d20dd0719e88ecfdd02d5e7ca7b7,2013-01-20
11870,7555504451,1597.993744,0092d20dd0719e88ecfdd02d5e7ca7b7,2013-01-20
12913,6475640623,2079.531729,0092d20dd0719e88ecfdd02d5e7ca7b7,2013-01-20
245,5424397887,1190.729679,0092d20dd0719e88ecfdd02d5e7ca7b7,2013-01-20
11017,5844244730,23414.776514,01081b8bcb0f9e27b888d23bb35a50dd,2011-02-02
11470,7007823815,802.947142,01081b8bcb0f9e27b888d23bb35a50dd,2011-02-02
2459,6244235693,1693.403885,01081b8bcb0f9e27b888d23bb35a50dd,2011-02-02
1457,1089361296,1601.146422,01081b8bcb0f9e27b888d23bb35a50dd,2011-02-02
5351,8607700723,4443.270861,010cf28233f50d3857b499a9c208c610,2011-02-03
3686,4981329240,946.668434,010cf28233f50d3857b499a9c208c610,2011-02-03
13397,651097071,18950.254972,010cf28233f50d3857b499a9c208c610,2011-02-03
5706,640478757,1272.169881,010cf28233f50d3857b499a9c208c610,2011-02-03
6111,8739043589,326.749327,0116c5d9b6c2c2e8758c75e6da86014b,2012-09-01
8921,8403878820,4252.673108,0116c5d9b6c2c2e8758c75e6da86014b,2012-09-01
3426,82234756,10180.021551,0116c5d9b6c2c2e8758c75e6da86014b,2012-09-01
12948,2466575499,1031.153759,0116c5d9b6c2c2e8758c75e6da86014b,2012-09-01
4304,6982890522,24636.548608,011f6ed96aa8a4047a7dc66219db4cd7,2014-06-24
9704,5520138985,1576.311079,011f6ed96aa8a4047a7dc66219db4cd7,2014-06-24
10061,7634961393,1631.324198,011f6ed96aa8a4047a7dc66219db4cd7,2014-06-24
1239,1414629019,2066.490320,011f6ed96aa8a4047a7dc66219db4cd7,2014-06-24
5783,5062243503,13835.663752,012c5eb5397a72f8aeb64f942b60846d,2011-06-08
8509,9951536829,1094.090624,012c5eb5397a72f8aeb64f942b60846d,2011-06-08
12789,1595230701,1818.902499,012c5eb5397a72f8aeb64f942b60846d,2015-11-17
11151,8573149856,1624.137677,012c5eb5397a72f8aeb64f942b60846d,2011-06-08
13274,3385626862,894.156778,012c5eb5397a72f8aeb64f942b60846d,2015-11-17
11179,1475841641,5144.940194,012c5eb5397a72f8aeb64f942b60846d,2015-11-17
3637,5354388962,4926.049428,012c5eb5397a72f8aeb64f942b60846d,2011-06-08
808,6772496454,22627.660498,012c5eb5397a72f8aeb64f942b60846d,2015-11-17
5473,5695041134,1300.111993,01552a3f5a9c868e6e2b2c15553dbd4a,2012-06-15
9850,121109302,3677.491484,01552a3f5a9c868e6e2b2c15553dbd4a,2012-06-15
7787,9154416549,7869.437361,01552a3f5a9c868e6e2b2c15553dbd4a,2012-06-15
4600,3853043059,1293.424086,01552a3f5a9c868e6e2b2c15553dbd4a,2012-06-15
6908,6182924425,1413.901820,015e6ca145eb3aa52dd68440e98c9ea9,2012-10-03
10845,6606280480,1454.009660,015e6ca145eb3aa52dd68440e98c9ea9,2012-10-03
6203,7718123272,729.657252,015e6ca145eb3aa52dd68440e98c9ea9,2012-10-03
9195,6781840101,9413.768124,015e6ca145eb3aa52dd68440e98c9ea9,2012-10-03
3001,3906194687,1320.047841,016081ba470f290f4a3ea7e1484a1c13,2015-11-19
12489,1024032841,532.591045,016081ba470f290f4a3ea7e1484a1c13,2015-11-19
10671,9016404211,1009.738629,016081ba470f290f4a3ea7e1484a1c13,2015-11-19
10068,4990374227,8742.069440,016081ba470f290f4a3ea7e1484a1c13,2015-11-19
4005,9692882219,22068.779823,0175090ddd9e763eb4ba0c7082a3cd7b,2014-05-21
3306,4018965852,1508.601163,0175090ddd9e763eb4ba0c7082a3cd7b,2014-05-21
3465,9389566743,1267.749708,0175090ddd9e763eb4ba0c7082a3cd7b,2014-05-21
12868,8027916495,3181.617990,0175090ddd9e763eb4ba0c7082a3cd7b,2014-05-21
7254,9958143446,7455.352464,0179a0c493df7124720e1d501c40d2d0,2013-02-14
10500,5089961594,1324.386099,0179a0c493df7124720e1d501c40d2d0,2013-02-14
2399,406331112,3640.799404,0179a0c493df7124720e1d501c40d2d0,2013-02-14
10308,1535909591,1451.917657,0179a0c493df7124720e1d501c40d2d0,2013-02-14
4310,235913952,28894.934104,01ad0c392cc969cf3f4d74d998219a11,2012-07-12
3163,1883646043,13350.537255,01ad0c392cc969cf3f4d74d998219a11,2012-07-12
8975,5621263925,964.845742,01ad0c392cc969cf3f4d74d998219a11,2012-07-12
8596,1042588979,2004.616746,01ad0c392cc969cf3f4d74d998219a11,2012-07-12
5945,3951144359,594.047208,01b158024e4954c551e0710680ce6b15,2013-12-23
5803,4574226629,12598.828684,01b158024e4954c551e0710680ce6b15,2013-12-23
8592,7513736804,600.314836,01b158024e4954c551e0710680ce6b15,2013-12-23
6959,6343077031,772.364683,01b158024e4954c551e0710680ce6b15,2013-12-23
7601,1526724415,17830.178214,01d0c142bbd90f0f60435c76ea2a1e73,2015-03-04
9521,3004002946,1122.683480,01d0c142bbd90f0f60435c76ea2a1e73,2015-03-04
3256,2758749029,640.452257,01d0c142bbd90f0f60435c76ea2a1e73,2015-03-04
10540,63260341,937.422179,01d0c142bbd90f0f60435c76ea2a1e73,2015-03-04
7446,8275369289,1215.448297,01d919d33166648ab24977d242f147c4,2011-10-13
7279,6925057519,1384.729949,01d919d33166648ab24977d242f147c4,2011-10-13
8097,8882066841,17670.620650,01d919d33166648ab24977d242f147c4,2011-10-13
13293,1845421242,1794.053587,01d919d33166648ab24977d242f147c4,2011-10-13
12889,1216709901,2052.201866,0211593272c53dc0034e183600ea185f,2013-05-01
13065,3448512106,12023.037625,0211593272c53dc0034e183600ea185f,2013-05-01
3955,7772759086,32273.094447,0211593272c53dc0034e183600ea185f,2013-05-01
6953,9526992646,1927.668318,0211593272c53dc0034e183600ea185f,2013-05-01
10579,3213307127,1380.540425,021bc85123058752e7cd8454bac7594f,2015-04-20
3047,7399365073,2066.360385,021bc85123058752e7cd8454bac7594f,2015-04-20
5000,2092889855,1260.984998,021bc85123058752e7cd8454bac7594f,2015-04-20
2260,228536320,25736.049512,021bc85123058752e7cd8454bac7594f,2015-04-20
8924,701006755,13241.643418,0230b3529ddf67d50794447d01892cf9,2012-08-28
5516,4090666103,10658.363605,0230b3529ddf67d50794447d01892cf9,2012-08-28
3264,1592910798,2265.356069,0230b3529ddf67d50794447d01892cf9,2012-08-28
2490,9510849516,991.569494,0230b3529ddf67d50794447d01892cf9,2012-08-28

In [37]:
for i in df_comb1.columns:
    print(f"{i}: {len(set(df_comb1[i]))}")

bill_id: 13600
amount: 13595
patient_id: 3000
date_of_admission: 1450

Looking at the dataframe above, we can see that there are multiple bills given to the same patient on the same date_of_admission
- this could be due to the way invoices are created in the hospital.
There are 1450 unique `date_of_admissions` over 3000 unique `patient_id`
- this means that there are multiple bills (different `bill_id`) on the same `date_of_admissions` and the same `patient_id`
- also there are 3000 unique `patient_id` but 3400 different patient_id
- hence we groupby using `date_of_admissions` and `patient_id` for better clarity in the amount

In [38]:
# df_comb1 = df_comb1.groupby(['patient_id', 'date_of_admission']).sum()
# df_comb1 = df_comb1.sort_values(by='patient_id', ascending=False)

### Joining `df_clinical_data` and `df_demographics` dataframes into 1 dataframe `df_comb2`

In [14]:
set(df_clinical_data['id']) == set(df_demographics['patient_id'])

True

- Checking that `df_clinical_data['id']` and `df_demographics['patient_id']` have the same unique set of id. 
- The result above found to be True which means both columns have same unique set of id, hence we can proceed with joining the 2 df below.
- As `df_clinical_data` has more rows than `df_demographics`, we do a left join, where left df is `df_clinical_date`.

In [11]:
df_comb2 = pd.merge(df_clinical_data, df_demographics, how='left', left_on='id', right_on='patient_id')

There were 379 patients with more than 1 visit.

From the above, we can see that some columns have inconsistent values, hence we change this values to more consistent values in the next step.

### Changing values to keep consistency within each column

In [12]:
df_comb2['medical_history_3'].replace({'No':0,'Yes':1}, inplace=True)
df_comb2['gender'].replace({'f':'Female', 'm':'Male'}, inplace=True)
df_comb2['race'].replace({'chinese':'Chinese','India':'Indian'}, inplace=True)
df_comb2['resident_status'].replace({'Singapore citizen':'Singaporean','India':'Indian'}, inplace=True)

### Change data types of columns 
- converting float to int for boolean value columns
- converting object to datetime for datetime columns

In [13]:
df_comb2.dtypes
df_comb2 = df_comb2.astype({
#     'medical_history_2': int,
    'medical_history_3': int,
#     'medical_history_5': int,
})

df_comb2['date_of_admission'] = pd.to_datetime(df_comb2['date_of_admission'])
df_comb2['date_of_discharge'] = pd.to_datetime(df_comb2['date_of_discharge'])
df_comb2['date_of_birth'] = pd.to_datetime(df_comb2['date_of_birth'])

### Feature engineering columns

In [14]:
df_comb2['age'] = ((df_comb2['date_of_admission'].dt.year*12 + df_comb2['date_of_admission'].dt.month) - \
            (df_comb2['date_of_birth'].dt.year*12 + df_comb2['date_of_birth'].dt.month))/12

df_comb2['duration(days)'] = df_comb2['date_of_discharge'] - df_comb2['date_of_admission']
df_comb2['duration(days)'] = df_comb2['duration(days)'].dt.days

In [24]:
len(df_comb2.columns)

33

In [15]:
df_comb2 = df_comb2[['patient_id', 'date_of_admission', 'date_of_discharge', 'date_of_birth' ,'weight', 
            'height', 'gender', 'race', 'resident_status','age', 'duration(days)', 'medical_history_1',
           'medical_history_2', 'medical_history_3', 'medical_history_4',
           'medical_history_5', 'medical_history_6', 'medical_history_7',
           'preop_medication_1', 'preop_medication_2', 'preop_medication_3',
           'preop_medication_4', 'preop_medication_5', 'preop_medication_6',
           'symptom_1', 'symptom_2', 'symptom_3', 'symptom_4', 'symptom_5',
           'lab_result_1', 'lab_result_2', 'lab_result_3']]

In [26]:
len(df_comb2.columns)

32

### Deal with NA values

In [27]:
med_2 = np.round(df_comb2['medical_history_2'].isnull().sum()/len(df_comb2)*100, 2)
med_5 = np.round(df_comb2['medical_history_5'].isnull().sum()/len(df_comb2)*100, 2)
pct = np.round(len(df_comb2[df_comb2['medical_history_2'].isnull() | df_comb2['medical_history_5'].isnull()])
               /len(df_comb2)*100,2)

print(f'{med_2}% of values in medical_history_2 column are null values')
print(f'{med_5}% of values in medical_history_5 column are null values')
print(f'{pct}% of rows in df_comb2 has at least 1 null value')

6.85% of values in medical_history_2 column are null values
8.94% of values in medical_history_5 column are null values
14.76% of rows in df_comb2 has at least 1 null value

- checking for null values, we found that `medical_history_2` and `medical_history_5` have 233 and 304 null values respectively. 
- as the proportion of null values are substantially large, we do not drop these columns.
- null values will be kept for the time being so that we can account for them during visualization

In [28]:
# # check for duplicates
# temp = df_comb2[df_comb2.duplicated(subset='id', keep=False)].sort_values(by='id', ascending=False)
# id_duplicate = temp['id']
# id_duplicate = np.array(list(set(id_duplicate)))
# id_duplicate

# # get list of all NA values
# id_na = df_comb2[df_comb2['medical_history_2'].isna()]['id']
# id_na


# print(len(id_duplicate))
# print(len(id_na))

# id_na_dup = list(set(id_na).intersection(id_duplicate))
# df_temp = pd.DataFrame(columns=df_comb2.columns)

# for i in id_na_dup:
#     df_temp.loc[i,:] = df_comb2.loc[i,:]
#     row = df_comb2[df_comb2['id']==i]
#     row.loc[row.index, :]
#     df_temp.loc[i,:] = row.loc[row.index, :]

# df_temp

___

___

### Joining `df_comb1` and `df_comb2` into 1 dataframe `df`
- we join based on `patient_id` and `date_of_admission` column since it is the common column

In [29]:
df_comb1 = df_comb1.reset_index()

In [30]:
set(df_comb1.patient_id)==set(df_comb2.patient_id)

True

In [32]:
df = pd.merge(df_comb1, df_comb2, on=['patient_id','date_of_admission'], how='outer', indicator=True)
# df = pd.merge(df_comb1, df_comb2, on=['patient_id'], how='left', indicator=True)

df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3400 entries, 0 to 3399
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          3400 non-null   object
 1   date_of_admission   3400 non-null   datetime64[ns]
 2   amount              3400 non-null   float64
 3   date_of_discharge   3400 non-null   datetime64[ns]
 4   date_of_birth       3400 non-null   datetime64[ns]
 5   weight              3400 non-null   float64
 6   height              3400 non-null   float64
 7   gender              3400 non-null   object
 8   race                3400 non-null   object
 9   resident_status     3400 non-null   object
 10  age                 3400 non-null   float64
 11  duration(days)      3400 non-null   int64
 12  medical_history_1   3400 non-null   int64
 13  medical_history_2   3167 non-null   float64
 14  medical_history_3   3400 non-null   int64
 15  medical_history_4   3400 non-null   int64
 16  medical_history_5   3096 non-null   float64
 17  medical_history_6   3400 non-null   int64
 18  medical_history_7   3400 non-null   int64
 19  preop_medication_1  3400 non-null   int64
 20  preop_medication_2  3400 non-null   int64
 21  preop_medication_3  3400 non-null   int64
 22  preop_medication_4  3400 non-null   int64
 23  preop_medication_5  3400 non-null   int64
 24  preop_medication_6  3400 non-null   int64
 25  symptom_1           3400 non-null   int64
 26  symptom_2           3400 non-null   int64
 27  symptom_3           3400 non-null   int64
 28  symptom_4           3400 non-null   int64
 29  symptom_5           3400 non-null   int64
 30  lab_result_1        3400 non-null   float64
 31  lab_result_2        3400 non-null   float64
 32  lab_result_3        3400 non-null   float64
 33  _merge              3400 non-null   category
dtypes: category(1), datetime64[ns](3), float64(9), int64(17), object(4)
memory usage: 906.6+ KB

In [33]:
df.head()

,patient_id,date_of_admission,amount,date_of_discharge,date_of_birth,weight,height,gender,race,resident_status,age,duration(days),medical_history_1,medical_history_2,medical_history_3,medical_history_4,medical_history_5,medical_history_6,medical_history_7,preop_medication_1,preop_medication_2,preop_medication_3,preop_medication_4,preop_medication_5,preop_medication_6,symptom_1,symptom_2,symptom_3,symptom_4,symptom_5,lab_result_1,lab_result_2,lab_result_3,_merge
0,ffd9644f8daf1d28493a7cd700bb30f4,2013-06-04,21040.661990,2013-06-15,1956-04-02,70.7,165.0,Female,Chinese,Singaporean,57.166667,11,0,0.0,0,0,0.0,0,1,0,0,1,1,1,1,1,0,1,1,1,13.9,26.9,95.0,both
1,ffd67c2bcfb32508d2cf7b1e1193e2ed,2012-12-24,28007.636468,2013-01-01,1950-06-06,81.3,161.0,Male,Malay,Singaporean,62.500000,8,0,0.0,0,0,0.0,0,0,1,1,1,1,1,0,1,1,1,1,0,16.4,33.6,96.0,both
2,ffc19537fa6621512ef4f296d60896ce,2013-05-05,30053.620971,2013-05-15,1938-09-12,83.1,170.0,Male,Chinese,PR,74.666667,10,0,1.0,0,0,1.0,0,0,1,1,1,1,1,1,0,0,1,1,1,16.7,30.1,107.0,both
3,ffac3c4b6838f42625e1dd00dd7c867b,2015-11-28,14049.042774,2015-12-07,1963-10-07,99.6,178.0,Male,Chinese,Singaporean,52.083333,9,0,0.0,0,0,0.0,0,0,1,1,1,1,1,1,1,1,0,1,0,16.0,26.7,121.0,both
4,ffa5a615a4cc5fb1ada0443edc1f5dd3,2011-04-24,4676.066179,2011-05-04,1976-08-07,69.3,162.0,Female,Indian,Singaporean,34.666667,10,0,1.0,0,0,0.0,0,1,0,0,1,0,1,0,0,0,0,0,0,16.3,27.4,86.0,both

### export cleaned dataframe into `.csv` for data analysis and visualisation

In [34]:
df.to_csv('df_cleaned', index=False)

# Questions to ask
- Can we presume that medical_history_2 : No == 0 and Yes == 1?

Updates: 
- Performed initial analysis on raw data and found:
    - there are 3000 `patient_id` and 3600 different appointment.
    - each appointment gave 4 different `bill_id`, hence there were 13,600 unique `bill_id`
    - all 4 dataframes were joined based on the following:
        - `bill_amount` and `bill_id` dataframes were joined based on `bill_id`
        - `clinical_data` and `demographics` dataframes were joined based on `patient_id` 
        - the above 2 joined dataframes were then merged based on 2 common columns;
            - `patient_id` and
            - `date_of_admission`
- Performed Exploratory Data Analysis (EDA):
    - Feature Engineering of new columns (e.g. BMI, age)
- Initial EDA was planned to be sectorized into 3 main areas:
    - Cost
        - analyse cost against different groups of people (i.e. categorical columns)
        - analyse cost against different numeric properties (i.e. numerical columns)
        - anaylse cost against different months/years
        - Conclude insights for drivers of cost

    - Time
        - analyse cost against time
        - analyse cost against different months
        - analyse count of appointment against different months
        - analyse count of symptoms against different months  
    - General
        - analyse for correlations between different features 
        - analyse cost against different medical details (medical_history, preop_medication, etc)
        - analyse groups of people against medical details (gather insights if certain groups are more susceptible to certain conditions, etc)

- Cost
    - analyse cost against different groups of people (i.e. categorical columns)
    - analyse cost against different numeric properties (i.e. numerical columns)
    - anaylse cost against different months/years
    - Conclude insights for drivers of cost
        - use ML to predict cost? (regression)
       
- Time
    - analyse cost against time
        - based on different groups
    - analyse cost against different months
    - analyse counts against different months
    - analyse count of symptoms against different months